@model AppUser
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div>
        <label>Username</label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div>
        <label>Email</label>
        <input type="email" asp-for="Email" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


