@model AppRole
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <input asp-for="Id" type="hidden" />
    <div>
        <label>Role Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

